*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bio-height: 300px;
  --pop-color: rgb(235, 235, 235);
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  overscroll-behavior-y: none;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-family: "Merriweather", serif;
}

p {
  margin-top: 1rem;
  line-height: 2rem;
}

a {
  color: black;
}

.container {
  width: 100%;
  margin: 3rem auto;
  margin-top: 9rem;
  display: flex;
  justify-content: flex-end;
  /* background-color: blue; */
}

.bio-container {
  position: fixed;
  width: 590px;
  height: var(--bio-height);
  top: 10rem;
  font-weight: 500;
  font-size: 24px;
}
.applications {
  width: 45%;
  /* background-color: rgba(246, 246, 246, 0.322); */
}

.icon {
  height: 25px;
}

.icon-links {
  margin-top: 2rem;
  font-size: 2rem;
}
.icon-links * {
  padding-right: 1rem;
}

/* APPLICATIONS */

.app-text {
  width: 490px;
  text-align: left;
  /* background-color: cadetblue; */
}

.app-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.app-preview {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.app-preview img {
  flex-shrink: 0;
  width: 100%;
  min-height: 100%;
}

.link-btn {
  color: black;
  text-decoration: none;
  border: black 1px solid;
  padding: 2px 10px 4px 10px;
  margin: 0 10px;
}

.link-btn:hover {
  background-color: var(--pop-color);
  border-color: var(--pop-color);
}

.tinyIcon {
  vertical-align: middle;
}

.disabled-btn {
  background-color: rgba(231, 231, 231, 0.315);
  color: rgb(168, 168, 168);
  border: rgb(168, 168, 168) 1px solid;
  padding: 2px 10px 4px 10px;
  margin: 0 10px;
  cursor: default;
}

.app-text-header {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
